@model IEnumerable<PrintForMe.Models.Store.PaperMaterialModel>

<div class="center-div">
    @Html.EJS().Grid("PaperMaterial").DataSource(dataManager => { dataManager.Json(Model.ToArray()).Adaptor("RemoteSaveAdaptor").UpdateUrl("/en-US/Store/EditPaparMaterial").InsertUrl("/en-US/Store/AddPaparMaterial").RemoveUrl("/en-US/Store/DeletePaparMaterial"); }).Columns(col =>
    {
       col.Field("ItemID").IsPrimaryKey(true).HeaderText("ItemId").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("10").AllowEditing(false).Visible(false).Add();
       col.Field("PageType").HeaderText("Page Type").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("30").AllowEditing(true).Add();
       col.Field("Availability").HeaderText("Availability").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).EditType("booleanedit").DisplayAsCheckBox(true).Type("boolean").Width("30").Add();

    }).EditSettings(edit => { edit.AllowEditing(true).AllowAdding(true).AllowDeleting(false).Mode(Syncfusion.EJ2.Grids.EditMode.Normal); }).Toolbar(new List<string>() { "Edit", "Add", "Update", "Delete", "Cancel" }).Render()

</div>


