@model IEnumerable<PrintForMe.Models.Store.AlbumNoofPages>

<div class="center-div">
    @Html.EJS().Grid("AlbumSize").DataSource(dataManager => { dataManager.Json(Model.ToArray()).Adaptor("RemoteSaveAdaptor").UpdateUrl("/en-US/Store/EditAlbumQuantity").InsertUrl("/en-US/Store/AddAlbumQuantity").RemoveUrl("/en-US/Store/DeleteAlbumQuantity"); }).Columns(col =>
{

    col.Field("ItemID").IsPrimaryKey(true).HeaderText("ItemID").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).Width("10").AllowEditing(false).Visible(false).Add();
    col.Field("Availability").HeaderText("Availability").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Center).EditType("booleanedit").DisplayAsCheckBox(true).Type("boolean").Width("30").Add();
    col.Field("Size").HeaderText("Size").Width("20").EditType("numericedit").ValidationRules(new { required = true }).Format("C2").TextAlign(Syncfusion.EJ2.Grids.TextAlign.Right).Add();
    //col.Field("Culture").HeaderText("Culture").Width("40").ValidationRules(new { required = true, minLength = 1 }).AllowEditing(false).Add();

}).EditSettings(edit => { edit.AllowEditing(true).AllowAdding(true).AllowDeleting(false).Mode(Syncfusion.EJ2.Grids.EditMode.Normal); }).Toolbar(new List<string>() { "Edit", "Add", "Update", "Delete", "Cancel" }).Render()
</div>
