/* Header css */
body,html {width: 100%;height: 100%; background: none; color:var(--primary-color-black);}
.float100{width:100%;float:left;display:block}
.container.full{max-width:100%}
.list-none,.list-none ul{list-style:none;padding:0;display:inline-flex}
.main-section-wrapper a {color: var(--primary-color-medium);text-decoration: none;}
.hidden{display:none;}
.center-align {
  text-align: center;
}


header{background-color:var(--primary-color-medium);}
header a,header a:hover,header a:focus,header a:active{color:var(--primary-color-light);text-decoration: none;}
.header-component.left a{width:auto;height:auto;display:block;margin: 40px 0;margin-left:15%;float: left;}
.header-component.left a img{width: 30px;}
.header-component.right a{width:auto;height:auto;display:block;margin: 35px 0;float:right;margin-right:15%;border:1px solid var(--primary-color-medium);padding:10px 45px;}
.header-component.center{text-align:center;margin: 12px 0 13px 0;}
.logo.text-center{color:var(--primary-color-medium);font-size:30px;margin-bottom: 12px;}
.menu-wrapper{text-align:center}
.menu-wrapper ul{margin:0 auto}
.menu-wrapper ul li{margin: 6px 23px 6px 23px;}
.menu-wrapper ul li a{font-size: 15px;line-height: 18px;margin: 0px;}


/* Left Menu css */
#wrapper{min-height: 100%;position: relative;}
.main-container .container,.main-container .row{height:100%}
.main-container{min-height: calc(100% - 115px);display: block;height: auto;}
.section-component.left{background-color:var(--primary-color-light);width: 250px;display:block;flex:none;min-height: calc(100vh - 120px);overflow: auto;-webkit-box-shadow: -6px 7px 27px 2px rgba(0,0,0,0.22);
  -moz-box-shadow: -6px 7px 27px 2px rgba(0,0,0,0.22);
  box-shadow: -6px 7px 27px 2px rgba(0,0,0,0.22);}
.section-component.left a{color:var(--primary-color-medium)}
.side-menu-wrapper ul{list-style:none;padding:0}
.side-menu-wrapper ul li{padding:5px 10px;margin: 0px;margin-bottom: 5px;}
.side-menu-wrapper ul li.active a,.side-menu-wrapper ul li a:hover{color:var(--primary-color-black);}
.side-menu-wrapper ul li a{display:block;width:100%;padding:7px;padding-left:40px;position: relative;font-size: 15px;text-decoration: none;}
.side-menu-wrapper ul li a i{position: absolute;left: 0px;font-size: 22px;line-height: 1;top: 7px;}
.side-menu-wrapper{margin-top: 40px;}

/* Main section css */
.section-component.center{width:calc(100% - 300px);display:block;flex:none;height:100%;max-width:calc(100% - 300px)}
.main-section-wrapper{padding:100px}
.section-component.center{width: calc(100% - 250px);display:block;flex:none;height:100%;max-width: 1400px}
.main-section-wrapper{padding:100px;padding-bottom: 40px;}
.btn.btn-primary{background-color:#000;border:0;color:var(--primary-color-medium);min-width:120px}
.form-control{border:1px solid var(--light-grey-color);}



/* Select CSS */
.select2-container--default .select2-selection--single .select2-selection__arrow b{border-width:6px 6px 0 6px;left:13px;border-color:var(--light-grey-color) transparent transparent transparent}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{border-width:0 6px 6px 6px;border-color:transparent transparent var(--primary-color-medium) transparent}
.select2-container--default .select2-selection--single .select2-selection__arrow{width:30px;height: 38px;}
.select2-container--default .select2-selection--single{border-color:var(--light-grey-color);padding: 0px;height: 38px;}
.max-form-width {
    max-width: 311px;
}

.select2-container .select2-selection--single .select2-selection__rendered {height: 38px;padding-right: 30px;line-height: 38px;}
ul.list-group{margin-left:0}

/*Add Edit Delete*/
.add-item-wrapper .btn-group{background:var(--primary-color-medium);width:100%;border-radius:3px 3px 0 0;padding:5px 5px;max-width: 310px;float: left;clear: both;display: block; text-align: center;}
.add-item-wrapper button{}
.add-item-wrapper .btn{color:#fff;float: none;}
.add-item-wrapper .btn [class^="icon-"]{font-size:12px;margin:0 6px 0 0}
.add-item-wrapper .btn:hover{text-decoration:none}
.add-item-wrapper .list-group li{border-radius:0;padding:.45rem 1.25rem}
.add-item-wrapper .list-group li:hover{background:#dedede}
.add-item-wrapper .form-add-control{border-radius:0}
.tabs .btn{border-radius:0;color:var(--primary-color-black)}
.tabs .btn.active{background:var(--primary-color-medium); color: var(--primary-color-black);}
.overflow-auto{overflow:auto}
table{border:1px solid #e7e7e7; font-weight: normal;}
table .btn{background:var(--primary-color-medium);border:#0450cc;color:var(--primary-color-light)}
table thead th{background: #DEDEDE;padding: 10px 20px;border-right: 1px solid #b6b6b6;}
table thead th:last-child{border: none;}
table tbody tr{border-bottom: 1px solid #e7e7e7;}
table tbody tr:nth-child(even){background-color: #e7e7e7;}
table tbody tr td{padding: 10px 20px;border-right: 1px solid #b6b6b6;}
table tbody tr td:last-child{border: none;}
.creat-coupon{background:#060606;color:#fff;margin-bottom:20px}
.form-group .list-group {float: left;width: 100%;max-width: 310px;}
.add-item-wrapper{width:100%; margin: 0; float:left;}
.table-wrapper table{min-width:310px}
.form-wrapper.form-wrapper-2{display:inline-block;width:60%;min-width:710px}
.form-wrapper.form-wrapper-2 .form-group{width:50%;float:left;text-align:left}
.float100.row-1{max-width:310px;margin:0 auto;float:none;text-align:left}
.float100.row-3 .table-wrapper{float:none;margin:0 auto;max-width:310px;margin-bottom: 30px;}
.form-group .form-control{max-width:300px}
.content-wrapper{max-width:1200px}
.content-wrapper.small-width{max-width: 1170px;margin: 0 auto;}
.content-wrapper.center-align{text-align:center;}
.form-group label{margin-bottom:10px;clear: both;width: 100%; font-weight: bold; }
.form-title p{color:var(--primary-color-medium);font-size:20px;line-height:1;margin-bottom: 30px;}
/* .form-group .form-control{max-width:310px} */
.float100.form-submit{text-align: center;  padding-right: 22%;}
.margin-top-40{margin-top:50px}
.icon-plus:before {content: "+" !important;font-size: 20px;line-height: 1;}
.null-padding{padding: 0 !important;}

td.product-img img {max-width: 24px;margin: 0 auto;display: block;}
.table thead th{border: none;color:var(--primary-color-light);}

td .select2-container .select2-selection--single .select2-selection__rendered{height:35px;line-height:35px;background-color:transparent;border:0;padding-left:0;color:var(--primary-color-black)}
td .select2-container--default .select2-selection--single .select2-selection__arrow{height:35px}
td .select2-container--default .select2-selection--single{height:35px}
td span.select2.select2-container.select2-container--default {max-width: 128px;min-width: 128px;}



.heading-with-box .heading{font-size:18px;color:var(--primary-color-light);background:var(--primary-color-medium);padding:10px;text-align:center}
.heading-with-box-in{border:1px solid #9e9e9e;padding:24px 20px 20px}
.switch{position:relative;display:inline-block;width:22px!important;height:12px}
.switch input{opacity:0;width:0;height:0}
.switch-slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}
.switch-slider:before{position:absolute;content:"";height:8px;width:8px;left:2px;bottom:2px;background-color:white;-webkit-transition:.4s;transition:.4s}
.switch input:checked+.switch-slider{background-color:var(--primary-color-medium)}
.switch input:focus+.switch-slider{box-shadow:0 0 1px var(--primary-color-medium)}
.switch input:checked+.switch-slider:before{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
.switch-slider.round{border-radius:34px}
.switch-slider.round:before{border-radius:50%}
.mfp-content{position:relative;background:#FFF;padding:20px;width:auto;max-width:500px;margin:20px auto}
.data-table.table tbody tr td{border:0}
.data-table.table tbody tr{background-color:transparent}
.data-table.table thead th{background-color:var(--primary-color-medium )}     
.no-border{
  border: none; padding: 8px 15px;
}
.apply-coupan{
  margin-bottom: 20px;
}
#apply-to{
  margin:-20px;
}
#apply-to .mfp-close{
  left: 0;
  margin:7px;
  border: 1px solid var(--primary-color-black);
  width: 34px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
}

/*Order Detail*/
.order-detail-date{
  border-bottom: 1px solid #dfdedf;
  padding: 0 0 10px 0;
  font-size: 40px;
  color: #060606;
}
.order-detail-date .order-number strong{font-size: 42px; color: var(--primary-color-medium);}
.order-detail-date .order-number .btn{float: left; margin: 10px 0 0 0;}
.order-detail-date .order-date{font-size: 32px;}
.order-wrapping{
  border: 1px solid #707070;
  padding: 40px;
  color: var(--light-grey-color);
  font-size: 15px;
}
.order-wrapping-color{
  width: 40px;
  height: 40px;
  background: var(--primary-color-medium);
  border: 1px solid #707070;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 10px;
}
.order-notes{
  border: 1px solid #707070;
  padding:25px 40px;
  color: var(--light-grey-color);
  font-size: 15px;
  font-size: 25px;
  margin-top:40px;
  min-height: 261px;
}

.shipping-and-payment-box{
  border: 1px solid #707070;

  color: var(--light-grey-color);
  font-size: 15px;
  font-size: 25px;
  display: inline-block;
  width: 100%;
  min-height: 585px;
}
.shipping-and-payment-box .title{
  font-size: 25px;
  color: var(--light-grey-color);
}
.shipping-box{
  font-size: 17px;
  color: #060606;
  line-height: 30px;
  border-bottom: 1px solid #EBECEF;
  padding:25px 40px;
}
.payment-box{
  font-size: 25px;
  border-bottom: 1px solid #EBECEF;
  line-height: 30px;
  color: #060606;
  padding:25px 40px;
  
}
.order-details-box table{
  width:100%;
  float: right;
}
.order-details-box table tbody tr,.order-details-box table thead th{
  background: transparent;
  border: 0;
  font-size: 12px;
}

.order-details-box table thead th{
  border-bottom:1px solid #EBECEF;
  color: #897A66;
}
.order-details-box table tbody tr td{
  border: 0;
  color: #060606;
}
.order-details-box table tbody tr .order-details-label{
  text-align: left;
  width: 104px;
  color: #897A66;
  padding-left: 10px;
}

.order-details-box table tbody tr td.order-price{
  font-size: 15px;
  color: #060606;
}
.order-details-box table tbody tr td.order-discount{
  color: #E11A3A;
}
.order-details-box table tbody tr td.order-total-price{
  color: #E11A3A;
  font-size: 22px;
  border-top: 1px solid #e7e7e7;
}
.order-details-box table tbody tr td.order-total-price + td.order-details-label{
  border-top: 1px solid #e7e7e7;
}
.small-text{font-size: 60%;}
.order-detail-table{
  margin-bottom: 40px;
}
.order-detail-table table{
  width:100%;
  font-size: 15px;
  font-weight: bold;
  color: #434647;
  border: none;
  
}
.order-detail-table table thead th{
  background: #434647;
  font-size: 22px;
  color: #fff;
  font-weight: normal;
}
.order-detail-table table tbody tr{background: transparent; border: 0;}
.order-detail-table table tbody tr .border-bottom {border-bottom:1px solid #e7e7e7;}
.order-detail-table table tbody td{
  border: 0;
  background: transparent;
}
.order-detail-table table .price{
  font-size: 46px;
}
.order-detail-table table .price .small-text{font-weight: normal;}
.order-detail-popup .order-notes{min-height: auto; }
.order-detail-popup .shipping-and-payment-box{
  min-height: auto;
}

/*End Order Detail*/

@media all and (max-width:1100px){
  /*Order Detail*/
  .order-detail-date{font-size: 30px;}
  .order-detail-date .order-number strong{font-size: 32px;}
  .order-detail-date .order-date {
    font-size: 25px;
  }
  /*End Order Detail*/
}

@media all and (max-width:991px){
  .float100.form-submit{padding-right: 0;}
  .header-component.left,.header-component.right{max-width:170px}
  .header-component.center{max-width:calc(100% - 340px)}
  .menu-wrapper ul li{margin:6px 10px 6px 10px}
  .section-component.left{width: 65px;padding: 0px 5px;}
  .section-component.left a{font-size: 10px;padding: 5px 0px;width: 50px;margin:0 auto;text-align:center;line-height: 12px;}
  .side-menu-wrapper ul{margin-left:0}
  .side-menu-wrapper ul li a i{position:relative;display: block;margin-bottom: 10px;}
  .side-menu-wrapper{margin-top:10px}
  .main-section-wrapper{padding:30px 10px}
  .section-component.center{width:calc(100% - 65px);max-width:calc(100% - 65px)}
  .side-menu-wrapper ul li{padding:4px 0;margin:0}
  .side-menu-wrapper ul li.active a {background-color: var(--primary-color-medium);color: #000;}
  .data-table.table tbody tr td {border: 0;min-width: 90px;}



  
  }
  
  @media all and (max-width:767px){
  .header-component.left,.header-component.right{max-width:75px}
  .header-component.center{max-width:calc(100% - 150px)}
  .header-component.right a{padding:10px 5px;font-size:12px;height:40px;margin-right:0;margin:20px 0}
  .menu-wrapper{display:none}
  .header-component.left a{margin:21px 0}
  header{height:85px}
  .main-section-wrapper {padding: 20px 0px;}

   /*Order Detail*/
   .order-detail-date{font-size: 25px;}
   .order-detail-date .order-number strong{font-size: 27px;}
   .order-detail-date .order-date {
     font-size: 25px;
   }
   .order-wrapping{
     padding: 20px;
   }
   .order-notes{min-height: auto; margin-bottom: 40px;}
   .shipping-and-payment-box{
     min-height: auto;
   }

   /*End Order Detail*/
  }

  /**/
:root {
  --primary-color-black: #060606;
  --primary-color-medium: #7cc0d9;
  --primary-color-light: #ffffff;
  --secondary-color: #f5aabf;
  --tertiary-color: #b6e3e0;
  --grey-color: #707070;
  --medium-grey-color: #bcbcbc;
  --light-grey-color: #bebdbf;
  --fav-icon-bg: "Icons/favorite-bg.svg";
  --google-btn-color: #3f7afb;
--facebook-btn-color: #4156B3;
--icon-wrap-color: #75b6bf;

}
.btn-primary{
  background: var(--primary-color-medium) !important;
  color: var(--primary-color-light) !important;
}
.btn-primary:hover{
  opacity: 0.8;
}
.border-button{
  background: transparent !important;
  border:1px solid var(--primary-color-medium) !important;
  color: var(--primary-color-black) !important;
  font-weight: bold;
  font-size: 14px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.download-details{
  font-size: 22px;
}
.order-downloa-section{
  border: 1px solid #707070;
  margin: 35px 0;
}
.order-downloa-section ul{
  list-style: none;
  margin: 0;
}
.order-downloa-section ul li{
  padding:5px 15px;
  border-bottom:1px solid #707070;
  margin: 0;
  font-weight: bold;
  color: #000000;
}
.order-downloa-section ul li:last-child{
  border: none;
}
.order-downloa-section ul li a{
  float: right;
}


/*promotion admin*/



.promotion-wrapper h2{
	font-size: 14px;
  display: inline-block;
  border: none;
}
.promotion-wrapper h3{
  font-size: 14px;
  font-weight: bold;
}

.promotion-wrapper .e-radio-wrapper.e-wrapper label span.e-label{
	font-weight:bold !important;
}
.e-switch-wrapper:hover .e-switch-handle.e-switch-active, .e-switch-wrapper .e-switch-handle.e-switch-active, .e-switch-wrapper .e-switch-on{
background-color: var(--primary-color-medium) !important;
}
.e-radio:checked + label:hover::before,
.e-radio:checked + label::before, .e-radio:hover + label::before, .e-radio + label::before{
border-color: var(--primary-color-medium) !important;
}
.e-radio:checked + label::after{
	background-color: var(--primary-color-medium) !important;
	color: var(--primary-color-medium) !important;
}

.promotion-wrapper .e-radio-wrapper.e-wrapper{
	width: 100%;
}
/*.square-upload-widget, .banner-upload-widget{display: none;}*/

.switch{position:relative;display:inline-block;width:22px!important;height:12px}
.switch input{opacity:0;width:0;height:0}
.switch-slider{position:absolute;cursor:pointer;top:0;left:0;right:0;bottom:0;background-color:#ccc;-webkit-transition:.4s;transition:.4s}
.switch-slider:before{position:absolute;content:"";height:8px;width:8px;left:2px;bottom:2px;background-color:white;-webkit-transition:.4s;transition:.4s}
.switch input:checked+.switch-slider{background-color:var(--primary-color-medium)}
.switch input:focus+.switch-slider{box-shadow:0 0 1px var(--primary-color-medium)}
.switch input:checked+.switch-slider:before{-webkit-transform:translateX(10px);-ms-transform:translateX(10px);transform:translateX(10px)}
.switch-slider.round{border-radius:34px}
.switch-slider.round:before{border-radius:50%}
.mfp-content{position:relative;background:#FFF;padding:20px;width:auto;max-width:500px;margin:20px auto}
.data-table.table tbody tr td{border:0}
.data-table.table tbody tr{background-color:transparent}
/*.data-table.table thead th{background-color:#c7a25f}     */
.promotion-wrapper .e-file-select-wrap{
	border: 2px dashed var(--light-grey-color);
	margin: 3px;
	padding: 3px !important;
	border-radius: 3px ;
}
.promotion-wrapper .e-upload{
	border-radius: 3px;
}
.promotion-wrapper .e-upload .e-file-select-wrap .e-btn{
	background-color: var(--grey-color) !important;
	color: var(--primary-color-light);
}
.promotion-wrapper .e-input-group input.e-input, .promotion-wrapper .e-input-group.e-control-wrapper input.e-input{
	border: 1px solid var(--light-grey-color) !important;
	padding: 5px !important;
	margin: 10px 0 !important;
	border-radius: 3px;
}
.promotion-wrapper .e-input-group{
	border: none !important;
}
.promotion-wrapper .form-control{
	border-color: var(--light-grey-color);
}
.promotion-left{
	border-right: 1px solid var(--light-grey-color);
	padding-right:40px;
}
.promotion-right{
	padding-left: 30px;
}

@media only screen and (max-width: 991px) {
	.promotion-left{
		padding-right: 15px;
	}	
	.promotion-right{
		padding-left: 15px;
	}
}